<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">


<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="popupform.css" /> -->

    <!--  <link rel="stylesheet" href="./css/mainPage.css" />-->
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/mainPage.css" th:href="@{/css/mainPage.css}" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/mainPage.css" th:href="@{/css/comments.css}" />


    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>Document</title>

</head>
<body>

<div class="navbar">
    <div class="logo">
        <img th:src="@{/images/logo2.jpg}"/>
        <h2>Bug Tracker</h2>
    </div>
    <div class="nav-buttons">
        <nav>
            <ul class="menu">
                <li>
                    <label class="switch">
                        <input id="check" type="checkbox" onclick="changeMode()" />
                        <span class="slider round"></span>
                    </label>
                </li>
                <li><a class="btn btn-logOut" href="#">Log Out</a></li>
            </ul>
        </nav>
    </div>
</div>






<!--Show details-->
    <div class="details" th:object="${bug}">

        <table>
            <tr>
                <td>Bug Name:</td>
                <td th:text="${bug.bugName}"></td>
            </tr>
            <tr>
                <td>Project:</td>
                <td th:text="${project.projectName}"></td>
            </tr>
            <tr>
                <td>Date of Creation:</td>
                <td th:text="${#dates.format(bug.date, 'dd-MM-yyyy')}"></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td th:text="${bug.description}"></td>
            </tr>
            <tr>
                <td>Assignee:</td>
                <td th:text="${assignee}"></td>
            </tr>
            <tr>
                <td>Bug Status:</td>
                <td th:text="${bug.status}"></td>
            </tr>
        </table>
    </div>







<!--  change status and add comments  -->
    <div class="changes">

        <form action="/bug/updateBugStatus" method="post" >

            <input type="hidden" name="bugId" th:field="${bug.bugId}">

            <select id="status" name="status" th:field="${bug.status}">
                <option value="UNRESOLVED">UNRESOLVED</option>
                <option value="UNDER_TESTING">UNDER TESTING</option>
                <option value="RESOLVED">RESOLVED</option>
            </select>

            <button  class="btn btn-bug" type="submit">Update Status</button>

        </form>

        <div class="counter">
            <span class="letters">0</span><span>/1000</span>
        </div>



        <form action="/comment/addComment" method="post"  >
            <input type="hidden" name="bugId" th:field="${bug.bugId}">

            <textarea name="description" id="description"  maxlength="1000" ></textarea>

            <br>
            <button class="btn btn-submit"  type="submit">Add Comment</button>
        </form>


    </div>


<!--    display comments-->
    <div class="comments" th:object="${comments}">
        <th:block th:each="comment : ${comments}">
            <div>
                <table>
                    <tr>
                        <td th:text="${#temporals.format(comment.dateCreated, 'dd-MM-yyyy HH:mm')}"></td>
                    </tr>
                    <tr>
                        <td th:text="${comment.description}"></td>
                    </tr>
                </table>
            </div>
        </th:block>
    </div>














<script th:src="@{/js/comments.js}" ></script>
</body>
</html>

